
	/* TEXT */

	@font-face {
	    font-family: 'POIOrbiter';
	    src: url('Orbiter/POIOrbiter-Black.otf') format('opentype');
	    font-weight: 900; /* Use appropriate font weight for Bold */
	}

	@font-face {
	    font-family: 'POIOrbiter';
	    src: url('Orbiter/POIOrbiter-ExtraBold.otf') format('opentype');
	    font-weight: 800; /* Use appropriate font weight for Bold */
	}
	@font-face {
	    font-family: 'POIOrbiter';
	    src: url('Orbiter/POIOrbiter-Bold.otf') format('opentype');
	    font-weight: 700; 
	}

	@font-face {
	    font-family: 'POIOrbiter';
	    src: url('Orbiter/POIOrbiter-SemiBold.otf') format('opentype');
	    font-weight: 600; /* Use appropriate font weight for Bold */
	}

	@font-face {
	    font-family: 'POIOrbiter';
	    src: url('Orbiter/POIOrbiter-Medium.otf') format('opentype');
	    font-weight: 500; /* Use appropriate font weight for Bold */
	}

	@font-face {
	    font-family: 'POIOrbiter';
	    src: url('Orbiter/POIOrbiter-Regular.otf') format('opentype');
	    font-weight: 400; 
	}


	h1 {
		font-family: 'POIOrbiter', sans-serif;
		font-weight: 900;
		color: #707070;
		font-size: 48px;
	}

	h2 {
		font-family: 'Crimson Text', serif;
		font-size: 36px;
		font-style: italic;
		text-align: center;
		color: #707070;
		margin-top: 10px;
		margin-bottom: 10px;
	}


	p {
		font-family: "POIOrbiter";
		font-weight: 300;
		text-align: center;
		margin-left: 35%;
		margin-right: 35%;

	}


	
	/* HEADER */
	.header {
	  overflow: hidden;
	  padding: 20px 5%;
	  margin-bottom: 3%;
	}

	.header a
	{
	  float: left;
	  text-align: center;
	  text-decoration: none;
  	}

  	.header-right a, .header-right a:visited {
  		margin: auto;
  		font-family: 'POIOrbiter';
  		font-size: 16px;
  		font-weight: 500;
  		padding-left: 15px;
  		color: #373737;
  		text-decoration: none;
  		letter-spacing: 0.5px;


  	}

  	.header h1 {
  		text-align: left;
  		margin: 0px;
  		color: #373737;

  	}
  	.header h3 {
  		text-align: left;
  		font-family: 'POIOrbiter';
  		font-size: 16px;
  		font-weight: 300;
  		color: #373737;
  		margin: 0px;
  	}
  	.headerLink h1:hover {
	  opacity: 50%;
	}
	.headerLink h1:hover {
	  opacity: 100%;
	}

	.header-right {
	  float: right;
	}


	.max-width {

	}


	/* REEL */
	#reelFrame
	{
		display: flex;
		text-align: center;

	}

	#reelFrame iframe
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
		width: 50%;
	}


	/*FLEX GALLERY*/


	#flex-gallery .flexpicStat
	{
		border-radius: 15px;
	}

	#flex-gallery img
	{
    height: 200px; /* Set the desired fixed height */
    width: auto; /* Keeps the width proportional */
    margin: 5px;
    object-fit: cover; /* Optional: This centers and crops images if needed */
    box-sizing: border-box;
	}


	#headshotgif2
	{
		width: 100%;	
	}

	#headshotContainer 
	{

		
	}



	#aboutContainer
	{
		display:flex;
		flex-direction: row; 
		padding-bottom:200px; 
		margin-left: 20%; 
		margin-right: 20%;
	}

	

	.mediaText
	{
		width: 50%;
	    padding-left: 5%;
	    padding-right: 5%;
	}

	#headshotCapt
	{
		font-family:'Crimson-Text', sans serif;
		font-weight:700;

		font-style: italic;
		font-size:16px;
		color:#707070;
		padding-top:7px;
		position: relative;
		bottom:20px;
		z-index: -1;
	}


	#about_me 
	{
		padding-bottom: 5%;
	}

	#headshotPar
	{
		text-align: left;
		font-family: "POIOrbiter";
		font-weight: 300;
/*		margin-left:35%;
		margin-right: 35%;*/
		color: #707070;
		font-size: 18;
		line-height: 1.2;

		width:50%; 
		padding-top:20%; 
		padding-bottom:10%; 
		margin-left: 5%;
	}

	a:visited
	{
		color:#999999;
	}

	#copyright
	{
		font-family: "POIOrbiter";
		font-weight: 300;
		color: #e6e6e6;
		position: absolute;
		bottom: 70px;
		right: 15%;

	}


	#flex-gallery 
	{
	    display: flex;
	    flex-wrap: wrap;
	    gap: 10px; /* Adjust spacing between images */
	    justify-content: center;

	}

	#flex-gallery img
	{
    height: clamp(200px, 18vw, 300px);/*clamp(150px, 20vw, 300px); /* Sets a uniform height */
    width: auto; /* Maintains the aspect ratio */
    object-fit: cover; /* Ensures each image covers the height without distortion */
    max-width: 100%; /* Makes images responsive */
    border-radius: 5px; /* Optional: Rounded corners */

	}



	#flex-gallery img:hover
	{
		opacity: 75%;
		cursor: pointer;

	}



	/*FOOTER*/

	#footer
	{
	  position: relative;
	  margin-top:auto;
	}

	#footerText
	{
		font-family: 'POIOrbiter';
		font-weight: 800;
		color: #e6e6e6;
		font-size: 48px;
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translate(-50%, 0%);
		margin-left: 20px;
		margin-right: 20px;
	}

	#icons
	{
		position: absolute;
		bottom: 56px;
		left: 20%;
	}

	#email
	{
		width:7%;
		margin-left: 10px;
		margin-right: 10px;
	}

	#linkedin
	{
		width:7%;
	}





	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: rgba(0,0,0,0.9);
	}

	/* Modal Content */
	.modal-content {
	  position: relative;
	  text-align:center;
	  margin: auto;
	  padding: 0;
	  width: 90%;
	  /*max-width: 1200px;*/
	}

	/* The Close Button */
	.close {
	  color: #707070;
	  position: absolute;
	  top: 10px;
	  right: 25px;
	  font-size: 70px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	  height: 80%;
	  overflow-y: scroll;
	  box-sizing: border-box;
	  justify-content: center;
	}
	.leftSlide
	{
		/*width: 100%;*/
	}
	.leftSlidePdf
	{
		width: 100%;
	}
	.rightSlide
	{
		/*width: 20%;*/
		max-width: 800px;
		padding-left: 10%;
		padding-right: 10%;
		margin: auto;
	}

	.instagram-media {
		margin-left: auto!important;
		margin-right: auto!important;
	}

	#leftImg {
		height: 80%;
	}

	h3.slideHeader
	{
		font-family: 'POIOrbiter';
		color: #ffffff;
		text-align: center; 

	}
	p.slideHeader
	{
		color: #ffffff;
		margin: 0px;
		text-align: left;
		line-height: 1.1;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		display:block;
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: #707070;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}


	/* Caption text */
	.caption-container {
	  text-align: center;
	  background-color: none;
	  padding: 2px 16px;
	  color: white;
	}


	@media only screen and (max-width: 800px){
		#headshotPar
		{
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
		#aboutContainer {
			flex-direction: column;
		}
	}

	@media only screen and (max-width: 425px){
	  #flex-gallery {
		flex-direction: column; /* Stack images vertically on smaller screens */
		align-items: center; /* Center images */
	} 
	.header-right {
		display:none;
	}

	h1 {
	  font-family: 'POIOrbiter', sans-serif;
	  font-weight: 900;
	  color: #707070;
	  font-size: clamp(32px, 12vw, 82px); /* Responsive and controlled */
	}

	h2 {
	  font-family: 'Crimson Text', serif;
	  font-size: clamp(18px, 4vw, 36px);
	  font-style: italic;
	  text-align: center;
	  color: #707070;
	  margin-top: 10px;
	  margin-bottom: 10px;
	}

	

	#headshotContainer 
	{

	}
	#headshotPar
	{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	#aboutContainer {
		flex-direction: column;
	}

	#headshotgif2 {
		width: 300px;
	}

	#headshotPar {
		width: 100%;
	}
	#footerText {
		display:none;
	}


	}
