	h1{
		font-family: 'Montserrat';
		font-weight: 900;
		color: #707070;
		font-size: 48px;
	}

	h2{
		font-family: 'Crimson Text', serif;
		font-size: 36px;
		font-style: italic;
		text-align: center;
		color: #707070;
		margin-top: 10px;
		margin-bottom: 10px;
	}


	#aboutmetargetStyle
	{
		text-decoration: none;
		color: #707070;
	}
	#aboutmetargetStyle:hover
	{
		text-decoration: none;
		color: #909090;
	}
	#magazine
	{
		background-color: #114179;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	#ajc {
		background-color: #212126;
	}
	
	#footerImg
	{
		width:100%;
	}

	#footer
	{
	  position: relative;
	}

	#footerText
	{
		font-family: 'Montserrat';
		font-weight: 800;
		color: #707070;
		font-size: 48px;
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translate(-50%, 0%);
		margin-left: 20px;
		margin-right: 20px;


	}
	#icons
	{
		position: absolute;
		bottom: 56px;
		left: 20%;
	}
	#email
	{
		width:7%;
		margin-left: 10px;
		margin-right: 10px;


	}
	#linkedin
	{
		width:7%;
	}

	#nav
	{
		text-align: right;
		margin-left: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 16px;
		font-family: 'Montserrat';
		font-weight: 700;
		color: #707070;
		margin-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;

	}
	#header
	{
		display: flex;
	}

	.logo
	{
		width: 15%;
		margin-top: 3%;
		margin-bottom: 0px;
		min-width: 50px;
	
	}
	.logo_container
	{
		text-align: center;
	}
	.role
	{
		font-size: 18px;
		font-family: "Montserrat";
		font-weight: 500;
		text-align:center;
	}
	p
	{
		font-family: "Montserrat";
		font-weight: 300;
		text-align: center;
		margin-left: 35%;
		margin-right: 35%;

	}

	table {
		border: 0px;
		width: 100%;
		text-align: center;
		color: #707070;
	}

	th {
		width: 18%;
		vertical-align: top;


	}

	th h3 {
		margin-top: 2%;
		margin-bottom: 0px;
	}

	th h4 {
		margin-top: 2%;
		margin-bottom: 0px;
		padding-left: 2px;
		padding-right: 2px;

	}

	th img {
		width: 60%;
		padding-bottom: 5%;
	}

	th img:hover {
		opacity: 50%;
	}

	#xpouter 
	{
		margin-top: 5%;
	}
	#experience
	{
		display: flex;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 5%;
		margin-bottom: 5%;
		color: #707070;
	}
	#experienceBox
	{
		flex: 18%;
		text-align: center;
	}
	#experienceBox img
	{
		width: 50%;
	}
	#xpText 
	{
	}
	#experience h3 {
		font-family: "Montserrat";
		text-align: center;
		font-size: 16px;
	}
	#experience h4 {
		font-family: "Montserrat";
		font-weight: 500;
		text-align: center;
		font-size: 16px;
	}



	#pdfframe
	{
		width: 100%;
		height: 80%;
	}
	#misc
	{
		padding-bottom: 150px;
	}


	#SAMLab
	{

	}
	#SAMLab #flex-gallery
	{
		padding-bottom: 100px;
	}

	#verisolutions
	{
		background-color: #404040;

	}
	#headshotContainer
	{
		text-align: center;
	}

	#headshot
	{
		width:20%;
		padding-left:.75%;
		display:none;
	}

	#headshotgif
	{
		width:20%;
	}


	#hoverbox:hover #headshotgif
	{
		display: none;
	}
	#hoverbox:hover #headshot
	{
		<!--display: inline-block;--!>
	}


	#headshotCapt
	{
		font-family:'Crimson-Text', sans serif;
		font-weight:700;

		font-style: italic;
		font-size:16px;
		color:#707070;
		padding-top:7px;
		position: relative;
		bottom:20px;
		z-index: -1;
	}
	#aboutmeheader
	{
		margin-bottom: -2%;
		margin-top: 5%;
	}
	#headshotPar
	{
		text-align: center;
		font-family: "Montserrat";
		font-weight: 300;
		margin-left:35%;
		margin-right: 35%;
		color: #707070;
	}
	#iconsAboutMe
	{
		margin-left:30%;
		margin-right:30%;
		padding-top: 20px;

	}
	a:visited
	{
		color:white;
	}
	#copyright
	{
		font-family: "Montserrat";
		font-weight: 300;
		color: #707070;
		position: absolute;
		bottom: 70px;
		right: 15%;

	}
	#featured_container
	{
		text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	#featuredImg
	{
		height: 40%;
		margin-left: 20px;
		margin-right: 20px;
	}
	#featuredImg:hover
	{
		opacity: 0.75;
		cursor: pointer;
	}

	#flex-gallery 
	{
		margin-left: 5%;
		margin-right:5%;
		flex-wrap: wrap;
		text-align: center;
		overflow:  hidden;
		height: auto;
		padding-bottom: 50px;

	}

	#flex-gallery img
	{
		height: 35%;	
		padding: 5px;
		box-sizing: border-box;
		overflow-y: auto;

	}
	#flex-gallery img:hover
	{
		opacity: 75%;
		cursor: pointer;

	}

	#samsneatprojects
	{
		background-image: url(SNPbg.webp)
	}




	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: rgba(0,0,0,0.7);
	}

	/* Modal Content */
	.modal-content {
	  position: relative;
	  text-align:center;
	  margin: auto;
	  padding: 0;
	  width: 90%;
	  /*max-width: 1200px;*/
	}

	/* The Close Button */
	.close {
	  color: white;
	  position: absolute;
	  top: 10px;
	  right: 25px;
	  font-size: 70px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	  height: 100%;
	  box-sizing: border-box;
	}
	.leftSlide
	{
		width: 100%;
	}
	.rightSlide
	{
		width: 20%;
		padding-left: 20px;
		padding-right: 20px;
	}

	h3.slideHeader
	{
		font-family: 'Montserrat';
		color: #ffffff;

	}
	p.slideHeader
	{
		color: #ffffff;
		margin: 0px;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		display:none;
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: white;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: #f2f2f2;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* Caption text */
	.caption-container {
	  text-align: center;
	  background-color: none;
	  padding: 2px 16px;
	  color: white;
	}

	img.demo {
	  opacity: 0.6;
	}

	.active,
	.demo:hover {
	  opacity: 1;
	}

	img.hover-shadow {
	  transition: 0.3s;
	}

	.hover-shadow:hover {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
